<button class=contenedorProducto routerLink="/detalle/{{producto._id}}" (mouseenter)="hoverEnter()" (mouseleave)="hoverLeave()">
   
    <div class="contenedorImagen">
        
        <img src={{producto.pictures[0].secure_url}}/>
    </div>
    
    <div class="datosProducto">
        <p class="nombreProducto"> {{producto.title}}</p>
        <p class="precioProducto"> {{producto.price | currency }}</p>
               
    </div>    
    <div [class]="hoverClass" *ngIf="hoverClass=='verDetalleHover'" >
        <p>Ver Detalle</p>
    </div>

</button>