<nav class="navBar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/"><span class="glyphicon glyphicon-home"></span></a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/">Inicio</a></li>
      </ul>

      
        <ul class="nav navbar-nav navbar-right ">
            <li class="nav-item">
                <a routerLink="/registrarse" *ngIf="!isLogin">
                    <span class="glyphicon glyphicon-user"></span> 
                    Registrarse
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/ingresar" *ngIf="!isLogin">
                    <span class="glyphicon glyphicon-log-in"></span> 
                    Ingresar
                </a>
            </li>
            <li class="dropdown" *ngIf="isLogin" >
                <a class="dropdown-toggle" data-toggle="dropdown"> 
                    <span class="glyphicon glyphicon-asterisk"></span>
                    {{usuarioLogueado}} 
                    <span class="caret"></span> 
                </a>
                <ul class="dropdown-menu">            
                <li>
                    <a class="nav-item" routerLink="/" *ngIf="isLogin" (click)="logout()">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Salir
                    </a>
                </li>
                </ul>
            </li>
        </ul>
     

    </div>
</nav>



    