ul{
    padding: 0px;
}

li{
    display: inline;
    font-size:11px;
    text-decoration: none;
    vertical-align: top;
    padding: 16px;
    background-color: #2175bc;
    color: #fff;    
}

li:hover {
    background-color: #2586d7;
    margin: top -2px;
    padding-bottom:30px;
}
  
div{
    border-top: 1px solid rgb(228, 222, 222);
    border-right: 1px solid rgb(228, 222, 222);
    border-bottom: 1px solid rgb(228, 222, 222);
    border-left: 1px solid rgb(228, 222, 222);
    box-shadow: 0 0 6px #2175bc ;
    background-color: #2175bc;
    padding-top: 18px;
}

button{
    padding:0%;
    border-color: #2175bc;
    background-color: #2175bc;
    color: #fff;
    box-shadow: 0 0 0px #2175bc ;

}